<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337528723304-jcgl62i7jnjui3r9epfoul5rsi3nj8sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337528723304-jcgl62i7jnjui3r9epfoul5rsi3nj8sb</string>
	<key>API_KEY</key>
	<string>AIzaSyA1oxw7J1dqlKbdSPYeU9e9RRQswvu5saI</string>
	<key>GCM_SENDER_ID</key>
	<string>337528723304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MaikonAPP2.InstaGrow</string>
	<key>PROJECT_ID</key>
	<string>instagrow-6c6c9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagrow-6c6c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337528723304:ios:ea1c39e416b211965528dd</string>
</dict>
</plist>